
<div class="wrapper fadeInDown">

    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
  
        <div class="container">
<div>
    <img src="../../assets/img/logo.jpg">
</div>
       <!-- Login Form -->
       <div id="fmr">
            <input type="text" id="login" class="fadeIn second"  #userEmail  placeholder="Usuario" required autofocus >
            <input type="password" id="password" class="fadeIn third" #userPassword  placeholder="Contraseña" required >
            <button  class="fadeIn fourth btn btn-danger btn-lg" (click)="login(userEmail.value, userPassword.value)">Ingresar</button>
       </div>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a href="https://implementta.net/ticketWeb">Olvidaste tu clave, contacta a sistemas</a>
        </div>

        </div>

 

    </div>
</div>