<app-navegation></app-navegation>

<div class="container mt-3 ">
    <h3 class="text-center mb-3"> Detalle del usuario </h3>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h6 class="text-center"> Usuario </h6>
                </div>
                <div class="card-body">
                    <div class="imagen-usuario">
                        <img src="../../assets/img/user.png" alt="">
                    </div>
                    <h6 class="text-center"> {{data.name}} </h6>
                    <!-- <h3 class="text-center">{{data.idaspuser}}</h3> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary ">
                    <h6 class="text-center"> Version de implementtaMovil </h6>
                </div>
                <div class="card-body">
                    <div class="imagen-usuario">
                        <img src="../../assets/img/cellphone.png" alt="">
                    </div>
                    <h6 class="text-center"> {{data.appVersion}} </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary ">
                    <h6 class="text-center"> Email </h6>
                </div>
                <div class="card-body">
                    <div class="imagen-usuario">
                        <img src="../../assets/img/email.png" alt="">
                    </div>
                    <h6 class="text-center"> {{data.email}} </h6>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary ">
                    <h6 class="text-center"> Contraseña </h6>
                </div>
                <div class="card-body">
                    <div class="imagen-usuario">
                        <img src="../../assets/img/password.png" alt="">
                    </div>
                    <h6 class="text-center"> {{data.password}} </h6>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary ">
                    <h6 class="text-center"> Ultima sincronización </h6>
                </div>
                <div class="card-body">
                    <div class="imagen-usuario">
                        <img src="../../assets/img/sync.png" alt="">
                    </div>
                    <h6 class="text-center"> {{data.lastSync}} </h6>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary ">
                    <h6 class="text-center"> Plaza asignada </h6>
                </div>
                <div class="card-body">
                    <div class="imagen-usuario">
                        <img src="../../assets/img/plaza.png" alt="">
                    </div>
                    <h6 class="text-center"> {{data.plaza}} </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary ">
                    <h6 class="text-center"> Rol asignado </h6>
                </div>
                <div class="card-body">
                    <div class="form-group col-sm-12" style="border: groove;">
                        <br>
                        <h2 style="color:green">{{data.rol}}</h2>
                        <button class="btn btn-block btn-primary" (click)="open(content2)">Cambiar rol</button>
                        <br>
                    </div>
                    <!-- end form-group -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary ">
                    <h6 class="text-center"> Estado del usuario </h6>
                </div>
                <div class="card-body">
                    <div class="form-group col-sm-12" style="border:groove">
                        <label for="">Estado del usuario:</label>
                        <br>
                        <h2 *ngIf="data.isActive" style="color:green"> Activado</h2>
                        <h2 *ngIf="!data.isActive" style="color:red">Desactivado</h2>

                        <button class="btn btn-block btn-primary" (click)="open(content)">Cambiar estado</button>
                        <br>
                    </div>
                    <!-- end form-group -->
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h6 class="text-center">Id del usuario </h6>
                </div>
                <div class="card-body">
                    <div class="imagen-usuario">
                        <img src="../../assets/img/usuario-laptop.png" alt="">
                    </div>
                    <h6 class="text-center"> {{data.idaspuser}} </h6>
                    <!-- <h3 class="text-center">{{data.idaspuser}}</h3> -->
                </div>
            </div>
        </div>
    </div>


</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cambiar estado</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label>Estado</label>
                <div class="input-group">

                    <div class="input-group-append">
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="isActive">

                            <label ngbButtonLabel class="btn-outline-success">
                                <input ngbButton type="radio" [value]="true"> Activado
                            </label>

                            <label ngbButtonLabel class="btn-outline-danger">
                                <input ngbButton type="radio" [value]="false"> Desactivado
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="changeStatus(data.uid)">Guardar</button>
    </div>
</ng-template>




<ng-template #content2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cambiar rol</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label>Estado</label>
                <div class="input-group">

                    <div class="input-group-append">
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="rol">

                            <label ngbButtonLabel class="btn-outline-primary">
                                <input ngbButton type="radio" [value]="2"> Abogado
                            </label>

                            <label ngbButtonLabel class="btn-outline-primary">
                                <input ngbButton type="radio" [value]="5"> Gestor
                            </label>
                            <label ngbButtonLabel class="btn-outline-primary">
                                <input ngbButton type="radio" [value]="7"> Reductor
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="changeRole(data.uid,data.idaspuser,data.idplaza)">Guardar</button>
    </div>
</ng-template>